<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <%= render "error_template" %>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  

  <% f.fields_for @event.payments do |p| %>
    <div class="field">
    <%= p.label :transaction_date %>
    <%= p.text_field :transaction_date %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
