<% provide(:title, 'Edit event') %>
<h1>Editing event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <%= render "error_template" %>
  <% end %>
  
  <div class="form-group form-horizontal">
    <%= f.label :name, "Event Name:" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
  	  <%= f.fields_for :payments do |payment_form| %>
        <tr>            
          <td><%= payment_form.text_field :transaction_date, :class => "form-control" %></td>
          <td><%= payment_form.text_field :amount, :class => "form-control" %></td>
          <td><%= payment_form.text_field :description, :class => "form-control" %></td>
          <td><%= payment_form.text_field :user_id, readonly: true, :class => "form-control" %></td>
          <td><span class="checkbox-inline"><%= payment_form.check_box :_destroy %> <%= payment_form.label :_destroy, 'Delete' %></span></td>
        </tr>
      <% end %>
      
      <tr>
        <td>
          <%= link_to "Add Payment", new_payment_path, :event_id => @event.id, :class => "btn btn-success" %>
        </td>
        <td colspan="4"></td>
      </tr>
    </tbody>
  </table>

  
  <%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

<br />

<%= link_to 'Show', @event, :class => "btn btn-info" %>
