<% provide(:title, 'Edit event') %>
<h1>Editing event</h1>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <%= render "error_template" %>
  <% end %>
  
  <div class="form-group form-horizontal">
    <%= f.label :name, "Event Name:" %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>User</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
  	  <%= f.fields_for :payments do |payment_form| %>
        <%= render "payment_fields", :f => payment_form %>
      <% end %>
      
      
    </tbody>
  </table>

  <%= link_to_add_fields "Add a Payment", f, :payments, "btn btn-success", "Add a new Payment" %>
  
  <%= f.submit "Save", :class => "btn btn-primary" %>

<% end %>

  
<br />

<%= link_to 'Show', @event, :class => "btn btn-info" %>
