<% provide(:title, @event.name) %>
<h1>
  <%= @event.name %>
</h1>

<div>
	<strong>Payments:</strong>
	<table>
	  <thead>
	    <tr>
	      <th>Date</th>
	      <th>Amount</th>
	      <th>Description</th>
	      <th>User</th>
	      <th colspan="1"></th>
	    </tr>
	  </thead>
		<tbody>
	    <%= render "event_payments" %>
	    <tr>
	    	<td>Total:</td>
	    	<td><%= total = @event.payments.inject(0){|sum,e| sum += e.amount }.round(2) %> </td>
	    </tr>
	  </tbody>
	 </table>
</div>

<div>
	<strong>Members:</strong>
	<table>
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Amount Spent</th>
	      <th>Share</th>
	      <th>Owed</th>
	    </tr>
	  </thead>
		<tbody>
	    <%= render "event_users" %>
	  </tbody>
	 </table>
</div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
